03-kitchen-sales-bot/workflows/kitchen_sales_bot_ru.json
{
  "name": "Kitchen Sales (Cloude) Идеальный",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "4bc7b216-a34a-4d82-8883-7c5032678b36",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        240,
        304
      ],
      "typeVersion": 1.2,
      "webhookId": "709a4e24-835c-46a4-a569-843756b35dd2",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "36249968-edeb-41fb-8271-1ffe82f4eb74",
      "name": "Merge Trigger Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        464,
        304
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-start-quiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "start_quiz"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "start_quiz"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-2",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "2|"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "question2"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-3",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "3|"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "question3"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-4",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "4|"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "question4"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-5",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "5|"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "finish"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-6",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "back:1"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "back_to_q1"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-7",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "back:2|"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "back_to_q2"
            },
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "condition-8",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "back:3|"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "back_to_q3"
            }
          ]
        },
        "options": {}
      },
      "id": "3f5a90b7-8ced-43de-a485-778d5c0dd2c4",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        688,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Router').item.json.callback_query.message.chat.id }}",
        "text": "1️⃣ Шаг 1 из 4: Выберите форму кухни",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➖ Прямая",
                    "additionalFields": {
                      "callback_data": "2|s:1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📐 Угловая",
                    "additionalFields": {
                      "callback_data": "2|s:2"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏝 С островом",
                    "additionalFields": {
                      "callback_data": "2|s:3"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "83d9982f-9696-4519-9686-146005ef809b",
      "name": "Send Question 1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        912,
        144
      ],
      "typeVersion": 1.2,
      "webhookId": "c7fcc6e5-0551-4779-a1a6-bad20d487ecb",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "✅ Отлично!\n\n2️⃣ Шаг 2 из 4: Укажите примерную длину стен",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📏 До 3м",
                    "additionalFields": {
                      "callback_data": "=3|{{ $json.callback_query.data.split('|')[1] }}|z:1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏗 3-5м",
                    "additionalFields": {
                      "callback_data": "=3|{{ $json.callback_query.data.split('|')[1] }}|z:2"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏰 Более 5м",
                    "additionalFields": {
                      "callback_data": "=3|{{ $json.callback_query.data.split('|')[1] }}|z:3"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "◀️ Назад",
                    "additionalFields": {
                      "callback_data": "back:1"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "f9570a58-5216-41f0-b6e4-e354015978db",
      "name": "Edit Question 2",
      "type": "n8n-nodes-base.telegram",
      "position": [
        912,
        304
      ],
      "typeVersion": 1.2,
      "webhookId": "8a6d65e1-12ce-49cb-8331-899feb8d641c",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "✅ Понятно!\n\n3️⃣ Шаг 3 из 4: На какой бюджет ориентируетесь?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "👛 До 150 тыс. ₽",
                    "additionalFields": {
                      "callback_data": "=4|{{ $json.callback_query.data.split('|')[1] }}|{{ $json.callback_query.data.split('|')[2] }}|b:1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💼 150-300 тыс. ₽",
                    "additionalFields": {
                      "callback_data": "=4|{{ $json.callback_query.data.split('|')[1] }}|{{ $json.callback_query.data.split('|')[2] }}|b:2"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💎 От 300 тыс. ₽",
                    "additionalFields": {
                      "callback_data": "=4|{{ $json.callback_query.data.split('|')[1] }}|{{ $json.callback_query.data.split('|')[2] }}|b:3"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "◀️ Назад",
                    "additionalFields": {
                      "callback_data": "={{ 'back:2|' + $json.callback_query.data.split('|')[1] }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "5eafc1e0-5acc-47e2-80e3-710d74813682",
      "name": "Edit Question 3",
      "type": "n8n-nodes-base.telegram",
      "position": [
        912,
        464
      ],
      "typeVersion": 1.2,
      "webhookId": "32967883-bde3-4e6a-b725-5babcef32ae6",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from Router node\nconst routerData = $('Router').item.json;\n\n// Parse callback_data: \"5|s:1|z:2|b:2|t:1\"\nconst callbackData = routerData.callback_query.data;\nconst parts = callbackData.split('|');\n\n// Maps for decoding (Updated with Emojis)\nconst shapeMap = {\n  '1': '➖ Прямая', \n  '2': '📐 Угловая', \n  '3': '🏝 С островом'\n};\nconst sizeMap = {\n  '1': '📏 До 3м', \n  '2': '🏗 3-5м', \n  '3': '🏰 Более 5м'\n};\nconst budgetMap = {\n  '1': '👛 До 150 тыс. ₽', \n  '2': '💼 150-300 тыс. ₽', \n  '3': '💎 От 300 тыс. ₽'\n};\nconst timelineMap = {\n  '1': '⚡️ Срочно', \n  '2': '📅 В течение месяца', \n  '3': '🛠 Идет ремонт'\n};\n\nlet shape = '';\nlet size = '';\nlet budget = '';\nlet timeline = '';\n\nparts.forEach(part => {\n  if (part.startsWith('s:')) {\n    shape = shapeMap[part.split(':')[1]] || '';\n  } else if (part.startsWith('z:')) {\n    size = sizeMap[part.split(':')[1]] || '';\n  } else if (part.startsWith('b:')) {\n    budget = budgetMap[part.split(':')[1]] || '';\n  } else if (part.startsWith('t:')) {\n    timeline = timelineMap[part.split(':')[1]] || '';\n  }\n});\n\n// Get user information\nconst chatId = routerData.callback_query.message.chat.id;\nconst messageId = routerData.callback_query.message.message_id;\nconst firstName = routerData.callback_query.message.chat.first_name || '';\nconst lastName = routerData.callback_query.message.chat.last_name || '';\nconst username = routerData.callback_query.message.chat.username || '';\nconst fullName = [firstName, lastName].filter(Boolean).join(' ') || 'Не указано';\n\n// Get current date\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('ru-RU', {\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nreturn {\n  json: {\n    date: dateStr,\n    name: fullName,\n    username: username || 'Не указано',\n    chatId: chatId.toString(),\n    shape: shape,\n    size: size,\n    budget: budget,\n    timeline: timeline,\n    messageId: messageId\n  }\n};"
      },
      "id": "3f2fc0b6-a364-4894-82ce-8a157c47267d",
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.code",
      "position": [
        1104,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ilbBaGS7RiHqKEr3ikRCAv6OLyTGEK8tpJ_wlf3d7Wo",
          "mode": "list",
          "cachedResultName": "Bot Kitchen ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ilbBaGS7RiHqKEr3ikRCAv6OLyTGEK8tpJ_wlf3d7Wo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ilbBaGS7RiHqKEr3ikRCAv6OLyTGEK8tpJ_wlf3d7Wo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json.date }}",
            "Имя": "={{ $json.name }}",
            "Username": "={{ $json.username }}",
            "ID чата": "={{ $json.chatId }}",
            "Форма кухни": "={{ $json.shape }}",
            "Размер": "={{ $json.size }}",
            "Бюджет": "={{ $json.budget }}",
            "Сроки установки": "={{ $json.timeline }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID чата",
              "displayName": "ID чата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Форма кухни",
              "displayName": "Форма кухни",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Размер",
              "displayName": "Размер",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Бюджет",
              "displayName": "Бюджет",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Сроки установки",
              "displayName": "Сроки установки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "03a34286-e7ea-4ecf-8082-d7a1e51d4dce",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1456,
        464
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets minimaxcreator"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "✅ Хорошо!\n\n4️⃣ Шаг 4 из 4: Когда планируете установку?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "⚡️ Срочно",
                    "additionalFields": {
                      "callback_data": "=5|{{ $json.callback_query.data.split('|')[1] }}|{{ $json.callback_query.data.split('|')[2] }}|{{ $json.callback_query.data.split('|')[3] }}|t:1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📅 В течение месяца",
                    "additionalFields": {
                      "callback_data": "=5|{{ $json.callback_query.data.split('|')[1] }}|{{ $json.callback_query.data.split('|')[2] }}|{{ $json.callback_query.data.split('|')[3] }}|t:2"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛠 Идет ремонт",
                    "additionalFields": {
                      "callback_data": "=5|{{ $json.callback_query.data.split('|')[1] }}|{{ $json.callback_query.data.split('|')[2] }}|{{ $json.callback_query.data.split('|')[3] }}|t:3"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "◀️ Назад",
                    "additionalFields": {
                      "callback_data": "={{ 'back:3|' + $json.callback_query.data.split('|')[1] + '|' + $json.callback_query.data.split('|')[2] }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "29a940b0-3a1e-45ec-a156-7b76553ac177",
      "name": "Edit Question 4",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        624
      ],
      "webhookId": "76ab71b5-91f9-4cf8-be49-b367f9f17e01",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Здравствуйте! 👋\nДавайте рассчитаем стоимость вашей идеальной кухни и закрепим персональную скидку за 1 минуту.\n\n1️⃣ Шаг 1 из 4: Выберите форму кухни",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➖ Прямая",
                    "additionalFields": {
                      "callback_data": "2|s:1"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📐 Угловая",
                    "additionalFields": {
                      "callback_data": "2|s:2"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏝 С островом",
                    "additionalFields": {
                      "callback_data": "2|s:3"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "559026b1-f0db-4777-ad56-7a5efac241b0",
      "name": "Back to Question 1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        144
      ],
      "webhookId": "01d31bc0-f3cb-4aec-9554-e79054694f37",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "✅ Отлично!\n\n2️⃣ Шаг 2 из 4: Укажите примерную длину стен",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📏 До 3м",
                    "additionalFields": {
                      "callback_data": "={{ '3|' + $json.callback_query.data.split('|')[1] + '|z:1' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏗 3-5м",
                    "additionalFields": {
                      "callback_data": "={{ '3|' + $json.callback_query.data.split('|')[1] + '|z:2' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🏰 Более 5м",
                    "additionalFields": {
                      "callback_data": "={{ '3|' + $json.callback_query.data.split('|')[1] + '|z:3' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "◀️ Назад",
                    "additionalFields": {
                      "callback_data": "back:1"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "a7d1ff0e-7c2a-487e-b05e-fdc927851b52",
      "name": "Back to Question 2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        304
      ],
      "webhookId": "e495cb54-875d-4568-a037-71fd42c93df3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "✅ Понятно!\n\n3️⃣ Шаг 3 из 4: На какой бюджет ориентируетесь?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "👛 До 150 тыс. ₽",
                    "additionalFields": {
                      "callback_data": "={{ '4|' + $json.callback_query.data.split('|')[1] + '|' + $json.callback_query.data.split('|')[2] + '|b:1' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💼 150-300 тыс. ₽",
                    "additionalFields": {
                      "callback_data": "={{ '4|' + $json.callback_query.data.split('|')[1] + '|' + $json.callback_query.data.split('|')[2] + '|b:2' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💎 От 300 тыс. ₽",
                    "additionalFields": {
                      "callback_data": "={{ '4|' + $json.callback_query.data.split('|')[1] + '|' + $json.callback_query.data.split('|')[2] + '|b:3' }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "◀️ Назад",
                    "additionalFields": {
                      "callback_data": "={{ 'back:2|' + $json.callback_query.data.split('|')[1] }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "f61f5d17-17ed-459c-9f93-f5aed83a2ac5",
      "name": "Back to Question 3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        464
      ],
      "webhookId": "21878410-ff24-4f45-b0de-885be55a2033",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-4780490376",
        "text": "=🚨 *Новый горячий лид!*\n\n👤 Имя: {{ $json.name }} (@{{ $json.username }})\nФорма: {{ $json.shape }}\nРазмер: {{ $json.size }}\nБюджет: {{ $json.budget }}\nСрочность: {{ $json.timeline }}\n\n[Открыть диалог](tg://user?id={{ $json.chatId }})",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b192790d-1fed-4083-bdbd-c0c968ae0135",
      "name": "Admin Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        800
      ],
      "webhookId": "478f5943-f7d2-424f-867e-597b5b1924b1",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id || $('Telegram Trigger').first().json.callback_query.message.chat.id }}",
        "file": "https://i.ibb.co/vCVXt1Zr/generated-image-5bf551ca-e70c-472c-94da-789821bcf623.png",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Начать расчет",
                    "additionalFields": {
                      "callback_data": "start_quiz"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "Здравствуйте! 👋\nПройдите *короткий тест*, чтобы мы поняли ваши пожелания и подобрали дизайн-проект под ваш бюджет.\n🎁 В конце — закрепим за вами *персональную скидку* и покажем *примеры работ*.",
          "parse_mode": "Markdown"
        }
      },
      "id": "301ae017-e7a3-42b7-b057-ba0fbc6136cc",
      "name": "Greeting Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        -16
      ],
      "webhookId": "38d6faca-f0a7-442e-adad-172a1851cb15",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}"
      },
      "id": "969f0e5f-8b1e-4dcc-865f-b0f5a78333cc",
      "name": "Delete Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -16
      ],
      "webhookId": "b10e7daa-8ce0-4e5a-bfcb-7e9ea90e1dc6",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Parse Callback Data').item.json.chatId }}",
        "messageId": "={{ $('Parse Callback Data').item.json.messageId }}",
        "text": "=✅ *Заявка принята!*\nДизайнер уже изучает ваши ответы, чтобы подготовить варианты кухонь под ваши параметры.\n\n📝 *Вы указали:*\n• Форма: {{ $('Parse Callback Data').item.json.shape }}\n• Размер: {{ $('Parse Callback Data').item.json.size }}\n• Бюджет: {{ $('Parse Callback Data').item.json.budget }}\n• Сроки: {{ $('Parse Callback Data').item.json.timeline }}\n\n🎁 Скидка 5% активирована.\n*Дизайнер напишет вам в течение 15 минут.*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "eb342280-894d-4631-9693-e523861f225b",
      "name": "Confirmation Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        624
      ],
      "webhookId": "67123fd2-9ffe-4342-a213-a13d1d4e014b",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "d8c09b98-6551-4982-bb3f-40f392dcfa4a",
      "name": "Wait 4s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        624
      ],
      "webhookId": "b6066b86-6fdd-407a-bf2b-a731327eeb60"
    },
    {
      "parameters": {
        "amount": 8
      },
      "id": "9dda038f-5899-42f6-b8e7-7d64159edca8",
      "name": "Wait 8s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        624
      ],
      "webhookId": "910f079a-3fd5-42f7-aac9-9201718309ff"
    },
    {
      "parameters": {
        "operation": "sendMediaGroup",
        "chatId": "={{ $('Parse Callback Data').item.json.chatId }}",
        "media": {
          "media": [
            {
              "media": "https://i.ibb.co/MxXtB4Kj/Kitchen-Reference-1.jpg",
              "additionalFields": {
                "caption": "🎨 Пока дизайнер готовит для вас *персональную подборку*, посмотрите примеры наших работ.\n\nМы можем повторить *любой дизайн*!",
                "parse_mode": "Markdown"
              }
            },
            {
              "media": "https://i.ibb.co/4ZtFTGPL/Kitchen-Reference-2.jpg",
              "additionalFields": {}
            },
            {
              "media": "https://i.ibb.co/fYV10Bs5/Kitchen-Reference-3.jpg",
              "additionalFields": {}
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "27858a02-06f6-49a2-8d38-130be512a70b",
      "name": "Photo Album",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        624
      ],
      "webhookId": "4f7b9da5-2226-4a8d-84e3-7e648aeb06d4",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Кухня кнопки (YouTube)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendVideoNote",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Parse Callback Data').item.json.chatId }}"
            },
            {
              "name": "video_note",
              "value": "DQACAgIAAxkBAAIBhWlrMctxWqGUywFKyj6U7GHM0Q7xAAK6kAACuWlYS8VtMNg41l-bOAQ"
            }
          ]
        },
        "options": {}
      },
      "id": "55ddbbbe-626b-46f4-9f28-af5b5cac15d1",
      "name": "Video Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        624
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Merge Trigger Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Trigger Data": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Data": {
      "main": [
        [
          {
            "node": "Admin Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirmation Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Welcome": {
      "main": [
        [
          {
            "node": "Send Question 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Greeting Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Question 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Question 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Question 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Callback Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Back to Question 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Back to Question 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Back to Question 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        []
      ]
    },
    "Confirmation Text": {
      "main": [
        [
          {
            "node": "Wait 4s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8s": {
      "main": [
        [
          {
            "node": "Photo Album",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4s": {
      "main": [
        [
          {
            "node": "Video Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Note": {
      "main": [
        [
          {
            "node": "Wait 8s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "476c0c9e-14e7-4271-81ef-48cb8679faee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "063c8cba689329b722d1b1e1bfe8a02783ad3f5ae1e8b014d1ebde538179b085"
  },
  "id": "VcKwQHd94o3IQEbm",
  "tags": []
}