06-neon-bot/workflows/main_agent_ru.json
{
  "name": "Neon Demo - Main Agent v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "149bf968-60fe-476e-8763-d840edfe6a21",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1616,
        944
      ],
      "webhookId": "neon-v2-trigger",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Neon"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=== ТЕКУЩАЯ ДАТА ===\nСЕГОДНЯ: {{ $now.format('dd.MM.yyyy') }}\nВРЕМЯ: {{ $now.format('HH:mm') }}\n==================\n\nТы — помощник по заказу неоновых вывесок.\n\nТВОИ ЗАДАЧИ:\n1. Если клиент спрашивает ЦЕНУ — используй tool calculate_price\n2. Если клиент хочет МАКЕТ/ВИЗУАЛИЗАЦИЮ — используй tool generate_image\n\nПАРАМЕТРЫ ДЛЯ СБОРА:\n- text: текст на вывеске (ОБЯЗАТЕЛЬНО)\n- width: ширина в см (30, 50, 80, 120 или точное число)\n- color: цвет неона (красный, синий, розовый, белый, зеленый, RGB)\n- scene: ГДЕ разместить вывеску (бар, кафе, улица, витрина и т.д.)\n  ЕСЛИ клиент НЕ указал место — используй \"bar\" по умолчанию\n\nПРИМЕРЫ:\n- \"PIZZA синий 120см\" → scene: \"bar\" (по умолчанию)\n- \"PIZZA на улице 100см\" → scene: \"улица\"\n- \"КОФЕ в витрине кафе\" → scene: \"витрина кафе\"\n\nВАЖНО:\n- Если клиент не указал параметры — вежливо спроси их\n- scene передавай на РУССКОМ\n\nСТИЛЬ:\n- Говори на русском\n- Будь кратким и профессиональным\n- После получения результата от tool — красиво оформи ответ клиенту\n- После получения изображения спросит \"Расчитать стоимость вывески?\""
        }
      },
      "id": "d63ffd9c-376d-4e6c-9011-63c56bff7a65",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1376,
        944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "rightValue": "макет",
              "id": "condition-1770019568063-oekxhew6k"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "0c66a002-5b59-451d-9cf2-294da2fd3fc0",
      "name": "Skip if Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        944
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "53155db7-3903-497e-834b-96acd5ed0d1a",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        848
      ],
      "webhookId": "neon-v2-send",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Neon"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "id": "eaf526fa-a30e-472e-8452-4ca00b9904ff",
      "name": "OpenRouter LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1472,
        1168
      ],
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NEON"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "id": "2ef17f41-f211-41af-8aed-f827aada76fb",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        1168
      ]
    },
    {
      "parameters": {
        "name": "calculate_price",
        "description": "Рассчитывает стоимость неоновой вывески.\n\nПараметры:\n- text: текст вывески\n- width: ширина в см\n- color: цвет неона",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "j3RzjQk20w6LhuDu",
          "cachedResultName": "Neon Demo - Calculator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $fromAI('text', '', 'string') }}",
            "width": "={{ $fromAI('width', 50, 'number') }}",
            "color": "={{ $fromAI('color', 'красный', 'string') }}"
          },
          "schema": [
            {
              "id": "text",
              "type": "string",
              "displayName": "text"
            },
            {
              "id": "width",
              "type": "number",
              "displayName": "width"
            },
            {
              "id": "color",
              "type": "string",
              "displayName": "color"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ee48de9a-4911-42bd-904d-1713e737cfeb",
      "name": "Tool Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1232,
        1168
      ]
    },
    {
      "parameters": {
        "name": "generate_image",
        "description": "Генерирует визуализацию неоновой вывески.\n\nПараметры:\n- text: текст вывески\n- width: ширина в см\n- color: цвет неона\n- scene: место размещения (бар, улица, кафе и т.д.)",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "sc1M1Z8on7hCG438",
          "cachedResultName": "Neon Demo - Visualizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $fromAI('text', '', 'string') }}",
            "width": "={{ $fromAI('width', 50, 'number') }}",
            "color": "={{ $fromAI('color', 'розовый', 'string') }}",
            "scene": "={{ $fromAI('scene', 'bar', 'string') }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "schema": [
            {
              "id": "text",
              "type": "string",
              "displayName": "text"
            },
            {
              "id": "width",
              "type": "number",
              "displayName": "width"
            },
            {
              "id": "color",
              "type": "string",
              "displayName": "color"
            },
            {
              "id": "scene",
              "type": "string",
              "displayName": "scene"
            },
            {
              "id": "chat_id",
              "type": "string",
              "displayName": "chat_id"
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "043e6ae6-39dc-4537-91d1-ed621bf5974c",
      "name": "Tool Visualizer",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1072,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "id": "condition-1770020763161-efisx2gzd"
            }
          ]
        },
        "options": {}
      },
      "id": "is-start",
      "name": "Is Start Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        944
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "✨ *Добро пожаловать в NeonSign Bot!* ✨\n\nМы создаём яркие неоновые вывески для вашего бизнеса! 🌟\n\nЧто я могу для вас:\n\n🎨 *Бесплатный макет* — увидьте вашу вывеску за пару минут!\n💰 *Расчёт стоимости* — узнайте цену мгновенно\n\nПросто напишите текст вывески, цвет и размер — и я сделаю остальное! 🚀\n\n_Например: \"Сделай макет PIZZA розовый 80см\"_",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "welcome-msg",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        800
      ],
      "webhookId": "03706d9f-3732-4dff-8e7a-51e771ac5243",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Neon"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Skip if Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip if Image": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Visualizer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Start Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "601dd44c-5fe1-4f55-955e-35dc70e60607",
  "meta": {
    "instanceId": "063c8cba689329b722d1b1e1bfe8a02783ad3f5ae1e8b014d1ebde538179b085"
  },
  "id": "Y4p2qJPnf2rLGt9t",
  "tags": []
}